@charset "UTF-8";

:root {
    --primary: #EB1CCC;
    --secondary: #95989a;
    --text-color: #FFF;
    --text-secondary: #000;
    --text-tertiary: #5D5D5D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    padding-bottom: 500px;
}

/* Event form */
#event-description {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)),
    url(../img/hrz-5.jpg) center;
    background-size: cover;
    height: 85vh;
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.disclaimer h2 {
    font-size: 3em;
    margin-bottom: 1em;
}

.disclaimer h2,
.event-date {
    color: var(--primary);
}

.disclaimer .about-event {
    text-transform: uppercase;
    font-size: 2em;
    max-width: 350px;
    margin-bottom: 1em;
    font-weight: bold;
}

.disclaimer p {
    font-size: 1.3em;
    margin-bottom: 0.3em;
}

.disclaimer .event-date {
    font-weight: bold;
}

.subscription-form {
    background-color: var(--secondary);
    padding: 2em;
    max-width: 22%;
}

.subscription-form p {
    margin-bottom: 1em;
    color: var(--text-secondary);
    font-size: 1.5em;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
}

.form-group label {
    color: var(--text-tertiary);
    font-weight: bold;
    margin-bottom: 0.3em;
}

.form-group input,
.form-group select {
    border-radius: 5px;
    border: none;
    padding: 6px 8px;
    outline: none;
}

 .btn{
    background-color: var(--primary);
    color: var(--text-color);
    padding: 12px;
    border: none;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    opacity: 0.8;
    transition: .5s;
}

.btn:hover {
    opacity: 1;
}

/* Benefit section */
.key-benefits h2 {
    background-color: var(--secondary);
    padding: 2em;
    text-align: center;
    font-weight: 500;
}

.benefits {
    display: flex;
    justify-content: space-around;
    padding: 4em;
    width: 80%;
    margin: 0 auto;
}

.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 22%;
    text-align: center;
    color: var(--text-tertiary);
}

.benefit-img {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 1em;
    width: 250px;
    height: 250px;
}

#benefit1 {
    background-image: url(../img/sqr-1.jpg);
}

#benefit2 {
    background-image: url(../img/sqr-2.jpg);
}

#benefit3 {
    background-image: url(../img/sqr-3.jpg);
}

/* Location */
#location {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)),
    url(../img/hrz-1.jpg) center;
    background-size: cover;
    height: 400px;
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5em;
}

.adress,
.about-location {
    max-width: 30%;
}

.adress {
    display: flex;
}

.adress i {
    font-size: 4em;
    color: var(--primary);
    margin-right: 0.5em;
}

.adress-details {
    text-align: center;
    font-size: 1.3em;
}

.about-location h3 {
    font-size: 2.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
    color: var(--primary);
}

.about-location p {
    line-height: 1.5em;
}

/* Event details  */
#details {
    width: 80%;
    margin: 0 auto;
}

.detail {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 4em;
}

.detail img {
    width: 50%;
}

.detail h3 {
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: 500;
}

#detail-tittle h3 {
    font-size: 3em;
    font-weight: 700;
}

.detail ul {
    list-style-position: inside;
}

.detail-description ul li {
    margin-bottom: 0.4em;
}

.detail li:last-child {
    font-weight: bold;
}

.detail-description {
    padding-left: 2em;
    width: 100%;
}